/vendor/*
/.phalcon/*
/.vscode/*
*/.vscode/*
/public/static/vendor/*
/public/static/desk/*
.idea
*/node_modules/*
*/elm-stuff/*
elm-stuff/*
*elm-package.json
*.elmo
*repl-temp-*
/deskelm/dist
/deskekm/dist
*.woff
*.eot
*.ttf
*.woff2
composer.lock