<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="./_TestHelper.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         verbose="true"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="true">
    <testsuite name="Venus - Test Suite">
        <directory>./</directory>
    </testsuite>
</phpunit>